UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
IndentCaseLabels: true
BinPackParameters: OnePerLine
BinPackArguments: false
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
BreakBinaryOperations: Never
BreakBeforeBinaryOperators: None
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true
BreakAfterOpenBracketLoop: true
BreakBeforeCloseBracketLoop: true
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
BreakAfterOpenBracketIf: true
BreakAfterOpenBracketSwitch: true
BreakBeforeBraces: Custom
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBraces: Never
SpacesInAngles: Never
SpacesInParens: Never
SpacesInSquareBrackets: false
DerivePointerAlignment: false
Cpp11BracedListStyle: FunctionCall
PointerAlignment: Left
ReferenceAlignment: Pointer
SpaceBeforeRangeBasedForLoopColon: false
AlignAfterOpenBracket: true
ColumnLimit: 100
